/*Albert Cendra Hernawan*/
/*10122382*/
/*IF - 10*/

@import url('https://fonts.googleapis.com/css?family=poppins:200,300,400,500,700,800,900 display=swap');

*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

#menu {
   
   background:#1c315e5e;
   width: 100%;
   height: 65px;
   margin: 0px;
   padding: 0px;
   padding-left: 500px;
   
   

}
#menu ul {
   list-style: none;
   margin-left: 3px;

}
#menu ul li {
   float: left;
   line-height: 65px
}
#menu ul li a {
   float:left; 
   width:100px; 
   display:block; 
   text-align:center; 
   color:rgb(14, 1, 1); 
   text-decoration:none; 
   font-size: 25px;
}
#menu ul ul {
   display:none; 
   list-style:none; 
   position:absolute; 
   background-color:#26C4C2;
   float: none;
   top:65px; 
   width:190px;
}
#menu ul li a:hover {
   background-color:#2E9EA2; 
   display:block;
}
#menu ul li:hover ul {
   display:block;
}
#menu ul ul li a {
   display:block;
   padding-left:30px; 
   text-align:left; 
   width:160px;
   height: 60px;
   line-height: 60px;
}
#menu ul ul li a:hover {
   color:#fff;
}
/*Argantara*/
.div1{
   background:url("https://asset.tix.id/wp-content/uploads/2022/12/c5e36c30-6922-4f74-96b2-d34a4d970dbe.jpeg");
   background-size: cover;
   padding:10px 30px 10px 30px;
  opacity: 3;
   font-family: 'Bubbler One', sans-serif;
   color:Black;
}
.div2{
  background:url("https://4.bp.blogspot.com/-4_hJ-qlY38k/WN21XlKuW_I/AAAAAAAAJts/0AErkFukOZAJ8lq1dsv5WBq3kzzccEQVACLcB/w1200-h630-p-k-no-nu/Dear_Nathan.jpg");
  background-size: cover;
  padding:10px 30px 10px 30px;
 opacity: 3;
  font-family: 'Bubbler One', sans-serif;
  color:Black;
}
.div3{
  background:url("https://upload.wikimedia.org/wikipedia/en/1/1b/Poster_dilan.jpg");
  background-size: cover;
  padding:10px 30px 10px 30px;
 opacity: 3;
  font-family: 'Bubbler One', sans-serif;
  color:Black;
}
.div4{
  background:url("https://cdn.antaranews.com/cache/800x533/2020/03/12/mariposa.jpg");
  background-size: cover;
  padding:10px 30px 10px 30px;
 opacity: 3;
  font-family: 'Bubbler One', sans-serif;
  color:Black;
}
.div5{
  background:url("https://m.media-amazon.com/images/M/MV5BZTcxZTg5YTktNjA3NS00NDE0LWFiZGMtOGYyZjU2N2IyYTc3XkEyXkFqcGdeQXVyMjU0ODQ5NTA@._V1_UY1200_CR106,0,630,1200_AL_.jpg");
  background-size: cover;
  padding:10px 30px 10px 30px;
 opacity: 3;
  font-family: 'Bubbler One', sans-serif;
  color:Black;
}
  
    h1{
    font-size: 70px;
    color:#EEEEEE;
    font-weight:bold;   
    text-shadow: 4px 3px grey;
      text-align:center;
     }
  h3{
     text-align:left;
     font-weight:bold;
    text-decoration: underline;
    }
   p{
    font-size: 25px;
    text-align: justify; 
    }
    h2{
      text-align:center;
      color:#EEEEEE;
      padding-bottom: 15px;
    }
.h{
background:rgba(255, 255, 255, 0.555);
  border-radius: 25px;
  margin: auto;
  text-align: center;
  font-size: 25px;
}
.next{
	margin-left: 1100px;
}
.back{
	margin-left: 1100px;
}